<section class="tab scrollable actor-{{tab.id}} {{tab.cssClass}} flexrow" data-tab="{{tab.id}}" data-group="{{tab.group}}">
	{{#each items.abilities as | ability | }}
	{{> "systems/skyfall/templates/v2/item/ability-card.hbs" item=ability labels=ability.system.labels collapse=true}}
	{{/each }}
</section>