/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: NORTHWEST;
  src: url('fonts/NORTHWEST-Regular.woff');
  descent-override: 50%;
}
.skyfall-icon {
  font-family: SkyfallIcons;
}
.skyfall-font {
  font-family: NORTHWEST;
}
/* ----------------------------------------- */
/*  Fonts Height                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
:root,
* {
  scrollbar-color: #182657 transparent;
  scrollbar-width: thin;
}
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow.space-around {
  justify-content: space-around;
}
.flexrow.space-evenly {
  justify-content: space-evenly;
}
.flexrow.space-between {
  justify-content: space-between;
}
.flexrow.flex-start {
  align-self: flex-start;
}
.flexrow .flex0 {
  display: flex;
}
.flexrow .flex100 {
  flex: 0 0 100%;
}
.flexcol.flex-start {
  align-self: flex-start;
}
.flexcol .flex0 {
  display: flex;
}
.flexcol .flex100 {
  flex: 0 0 100%;
}
.SF-item-list ol *,
.SF-item-list ul * {
  text-align: center;
}
.SF-item-list ol li .item-name,
.SF-item-list ul li .item-name,
.SF-item-list ol li .item-name *,
.SF-item-list ul li .item-name * {
  text-align: left;
}
.SF-item-list ol li.header,
.SF-item-list ul li.header {
  background-color: #182657;
  padding: 5px;
}
.SF-item-list ol li.header *,
.SF-item-list ul li.header * {
  color: white !important;
}
.SF-item-list ol li.entry,
.SF-item-list ul li.entry {
  background-color: #babecd;
}
.SF-item-list ol li.entry img,
.SF-item-list ul li.entry img {
  margin-right: 5px;
}
.SF-item-list ol li.entry.draggable,
.SF-item-list ul li.entry.draggable {
  cursor: default;
}
.SF-item-list ol .item-controls,
.SF-item-list ul .item-controls {
  flex: 0 0 80px;
}
.SF-ability div {
  padding: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 14px;
  width: 100%;
  background-color: #e7e8ed;
}
.SF-ability div label {
  font-weight: bold;
  color: #182657;
}
.SF-ability > figure.content-embed {
  margin: 0;
}
.SF-ability .ability-header {
  background-color: #182657;
  color: white;
  font-family: NORTHWEST;
  align-items: center;
}
.SF-ability .ability-header * {
  color: white;
}
.SF-ability .ability-header .skyfall-icon {
  flex: 0 0 25px;
  text-align: center;
}
.SF-ability .ability-header .cost {
  flex: 0 0 50px;
  text-align: center;
}
.SF-ability .ability-description {
  text-align: center;
}
.SF-ability .ability-descriptors {
  padding: 5px;
}
.SF-ability .ability-descriptors label.descriptor {
  border: 1px solid gray;
  color: white;
  line-height: 2em;
}
.SF-ability .ability-properties {
  background-color: #babecd;
}
.SF-ability .rich label + * {
  display: inline;
}
.SF-ability .rich * {
  margin: 0;
}
.SF-status-effects .status-list {
  column-count: 3;
}
.SF-status-effects .status-list .item {
  background-color: #182657;
  padding: 4px 8px 6px 8px;
}
.SF-status-effects .status-list .item * {
  color: white;
}
.SF-status-effects .status-list .item img {
  vertical-align: sub;
  width: 20px;
  flex: 0 0 20px;
  border: none;
  margin-right: 5px;
}
.SF-status-effects .status-list .item:first-child {
  margin-top: 0px;
}
/*  */
dropdown-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
dropdown-tags > * {
  display: flex;
  flex: 1;
}
dropdown-tags input {
  z-index: 3;
}
dropdown-tags button {
  flex: 0;
  align-items: center;
}
dropdown-tags .input-element-tags,
dropdown-tags .tags-dropdown {
  flex: 0 0 100%;
}
dropdown-tags .tags-dropdown {
  display: none;
  background-color: var(--input-background-color);
  z-index: 2;
  margin-top: 2em;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2em;
}
dropdown-tags .tags-dropdown * {
  font-size: 16px;
}
dropdown-tags .tags-dropdown.active {
  display: flex;
}
dropdown-tags .tags-dropdown .checkbox {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex: 0;
  white-space: nowrap;
}
dropdown-tags .tags-dropdown .checkbox input {
  display: none;
}
dropdown-tags .tags-dropdown .checkbox:has(input:checked) {
  opacity: 1;
}
dropdown-tags .tags-dropdown fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
dropdown-tags .tags-dropdown fieldset legend {
  float: left;
  color: gray;
  padding-right: 1em;
}
/* ----------------------------------------- */
/*  Application Styles                       */
/* ----------------------------------------- */
.skyfall nav.tabs .item {
  color: black;
}
.skyfall nav.tabs .item.active {
  color: black;
}
.skyfall.sheet .modification-header,
.journal-sheet.sheet .modification-header,
.skyfall.sheet .modification-description,
.journal-sheet.sheet .modification-description {
  padding: 5px;
  border: 1px solid black;
  position: relative;
  flex: 0;
  background-color: #e7e8ed;
  color: #182657;
}
.skyfall .modification-header {
  font-weight: bold;
  background-color: #babecd;
}
.skyfall.sheet input[type="text"],
.skyfall.sheet input[type="number"],
.skyfall.sheet input[type="password"],
.skyfall.sheet input[type="date"],
.skyfall.sheet input[type="time"],
.skyfall.sheet input[type="search"],
.skyfall.sheet select {
  height: 22px;
  font-size: 14px;
}
.skyfall.sheet .item-controls {
  white-space: nowrap;
  flex: 0;
  font-size: 14px;
  text-align: right;
}
.skyfall.sheet .effects-list img {
  width: 32px;
  height: 32px;
  flex: 0;
  margin-right: 10px;
}
.skyfall.sheet .effects-list .effect-name {
  flex: 1;
}
.skyfall.sheet .effects-list .effect-source,
.skyfall.sheet .effects-list .effect-duration {
  flex: 0 0 150px;
  text-align: center;
}
.skyfall.sheet .effects-list .effect-controls {
  flex: 0 0 80px;
  white-space: nowrap;
}
.skyfall.sheet .editor,
.skyfall.sheet .editor-content {
  min-height: 100px;
  min-height: 6em;
}
.skyfall.sheet .editor.prosemirror {
  min-height: 150px;
}
.skyfall.sheet .descriptors-field .tags-options {
  display: none;
}
.skyfall.sheet .descriptors-field .tags-options + .chosen-tags {
  align-self: flex-end;
}
.skyfall.sheet .descriptors-field .tags-options:hover,
.skyfall.sheet .descriptors-field .field-tag:focus + .tags-options {
  display: flex;
  background-color: white;
  z-index: 3;
  position: absolute;
  height: 200px;
  top: 2em;
  /*bottom: -210px*/
  overflow-y: auto;
  right: 10px;
  width: 350px;
}
.skyfall.sheet .modification-effects .list-items .item .effect-name,
.skyfall.sheet .base-effects .list-items .item .effect-name,
.skyfall.sheet .modification-effects .list-items .items-header .effect-name,
.skyfall.sheet .base-effects .list-items .items-header .effect-name {
  flex: 2;
}
.skyfall.sheet .modification-effects .list-items .item,
.skyfall.sheet .base-effects .list-items .item {
  align-content: center;
}
.skyfall.sheet .modification-effects .list-items .item img,
.skyfall.sheet .base-effects .list-items .item img {
  width: 36px;
  flex: 0 0 36px;
  margin-right: 5px;
}
.skyfall.sheet .filter-list {
  list-style: none;
  padding: 0;
}
.skyfall.sheet .filter-list image {
  filter: invert(0%) contrast(0%) brightness(0%);
}
.skyfall.sheet .filter-list li.filter-item {
  cursor: pointer;
  opacity: 0.5;
}
.skyfall.sheet .filter-list li.active {
  opacity: 1;
}
.skyfall.item-usage-config .header > * label {
  align-content: center;
  margin-left: 5px;
}
.skyfall.item-usage-config .header > * img {
  flex: 0;
}
.skyfall.item-usage-config .modifications {
  border: 1px dashed black;
}
.skyfall.item-usage-config .modifications .modification > * {
  padding: 5px;
  align-content: center;
}
.skyfall.item-usage-config .modifications .modification .controls {
  flex-wrap: nowrap;
}
.skyfall.item-usage-config .modifications .modification .controls input {
  flex: 1;
}
.skyfall.item-usage-config .modifications .modification .controls button {
  flex: 0;
  width: 16px;
  height: 26px;
  line-height: 26px;
  font-size: 10px;
  padding: 0 2px;
}
.skyfall.item-usage-config .modifications .modification .controls,
.skyfall.item-usage-config .modifications .modification .cost {
  text-align: center;
  flex: 0 0 70px;
}
.skyfall.item-usage-config .modifications .modification .name {
  text-align: center;
  flex: 0 0 70px;
}
.skyfall.rest-config input,
.skyfall.rest-config .entry > div {
  text-align: center;
}
.skyfall.effects-menu {
  max-width: 50px!important;
  min-width: 50px!important;
  width: 50px!important;
  left: calc(100vw - 370px) !important;
  visibility: hidden;
}
.skyfall.effects-menu .window-header {
  display: none;
}
.skyfall.effects-menu .window-content {
  padding: 5px;
}
.skyfall.effects-menu .effect {
  visibility: visible;
  position: relative;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 25px;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  background-size: cover;
}
.skyfall.effects-menu .effect .stack {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 80px;
  right: -5px;
  width: 15px;
  font-size: 12px;
  text-align: center;
}
/* ----------------------------------------- */
/*  Actor Styles                             */
/* ----------------------------------------- */
.skyfall.sheet.actor {
  min-height: 630px;
}
.skyfall.sheet.actor input[type=number] {
  font-family: "Signika", sans-serif;
}
.skyfall.sheet.actor form {
  position: relative;
  overflow: hidden;
}
.skyfall.sheet.actor.character {
  --actor-color: #182657;
  --actor-color-faint: #babecd;
}
.skyfall.sheet.actor.character.minimized {
  min-height: unset;
}
.skyfall.sheet.actor.character .window-content {
  padding-top: 0;
  padding-left: 190px;
}
.skyfall.sheet.actor.character .window-content .background-cut {
  padding: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.skyfall.sheet.actor.character .window-content .background-cut.abilities {
  background-image: url(assets/sheet/cut-abilities.svg);
}
.skyfall.sheet.actor.character .window-content .background-cut.attributes {
  background-image: url(assets/sheet/cut-attributes.svg);
}
.skyfall.sheet.actor.character .window-content .background-cut.skills {
  background-image: url(assets/sheet/cut-skills.svg);
}
.skyfall.sheet.actor.character .window-content .background-cut.abilities {
  background-image: url(assets/sheet/cut-abilities.svg);
}
.skyfall.sheet.actor.character .window-content .box {
  padding: 5px;
  background-color: white;
  border: 2px solid #424f66;
}
.skyfall.sheet.actor.character .window-content aside * {
  color: white;
}
.skyfall.sheet.actor.character .window-content aside .actor-actions input {
  padding: 0;
}
.skyfall.sheet.actor.character .window-content nav.tabs {
  position: relative;
  float: right;
  width: 100%;
}
.skyfall.sheet.actor.character .window-content nav.tabs i {
  display: none;
}
.skyfall.sheet.actor.character .window-content .tab {
  align-items: flex-start;
  flex-basis: content;
  height: 100%;
  gap: 5px;
}
.skyfall.sheet.actor.character .window-content .ability-scores {
  height: 120px;
  flex: 0 0 75%;
}
.skyfall.sheet.actor.character .window-content .ability-scores .bottom a {
  font-size: 12px;
}
.skyfall.sheet.actor.character .window-content .ability-scores {
  padding: 10px;
  justify-content: space-around;
  flex: 0 0 75%;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability {
  flex: 0 0 58px;
  max-width: 58px;
  height: 100px;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .top {
  height: 60px!important;
  background-image: url(assets/sheet/abl-top.svg);
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom {
  margin-top: 4px;
  height: 36px!important;
  background-image: url(assets/sheet/abl-bot.svg);
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom a {
  font-size: 10px;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom label {
  font-size: 16px;
  line-height: 1;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .top,
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .top > div,
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom > div {
  align-content: center;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .top .rolling,
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom .rolling {
  color: red;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .top input,
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom input {
  width: 80%;
}
.skyfall.sheet.actor.character .window-content .ability-scores .ability .top .active,
.skyfall.sheet.actor.character .window-content .ability-scores .ability .bottom .active {
  font-weight: bold;
  text-decoration: underline;
}
.skyfall.sheet.actor.character .window-content .attributes {
  gap: 5px;
  height: 120px;
  flex: 0 0 20%;
}
.skyfall.sheet.actor.character .window-content .attributes h6 {
  line-height: 1;
}
.skyfall.sheet.actor.character .window-content .attributes input {
  border: none;
}
.skyfall.sheet.actor.character .window-content .skills,
.skyfall.sheet.actor.character .window-content .actions {
  height: auto;
}
.skyfall.sheet.actor.character .window-content .skills {
  flex: 0 0 45%;
}
.skyfall.sheet.actor.character .window-content .skills ul {
  width: 90%;
  margin: auto;
}
.skyfall.sheet.actor.character .window-content .skills ul li {
  line-height: normal;
}
.skyfall.sheet.actor.character .window-content .skills ul li a,
.skyfall.sheet.actor.character .window-content .skills ul li span {
  flex: 0 0 20px;
}
.skyfall.sheet.actor.character .window-content .skills ul li input {
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .skills ul li a.rolling,
.skyfall.sheet.actor.character .window-content .skills ul li input.rolling {
  color: red;
}
.skyfall.sheet.actor.character .window-content .skills ul li * {
  height: 20px;
  line-height: 20px;
}
.skyfall.sheet.actor.character .window-content .actions .actions-filters {
  padding: 5px;
}
.skyfall.sheet.actor.character .window-content .actions .filter-list li {
  flex: 0 0 auto;
  padding: 0 5px;
  margin: 0;
}
.skyfall.sheet.actor.character .window-content .actor-abilities,
.skyfall.sheet.actor.character .window-content .actor-spells {
  padding: 5px;
  gap: 10px;
}
.skyfall.sheet.actor.character .window-content .actor-abilities div,
.skyfall.sheet.actor.character .window-content .actor-spells div {
  padding: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 14px;
  width: 100%;
  background-color: #e7e8ed;
}
.skyfall.sheet.actor.character .window-content .actor-abilities div label,
.skyfall.sheet.actor.character .window-content .actor-spells div label {
  font-weight: bold;
  color: #182657;
}
.skyfall.sheet.actor.character .window-content .actor-abilities > figure.content-embed,
.skyfall.sheet.actor.character .window-content .actor-spells > figure.content-embed {
  margin: 0;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-header,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-header {
  background-color: #182657;
  color: white;
  font-family: NORTHWEST;
  align-items: center;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-header *,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-header * {
  color: white;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-header .skyfall-icon,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-header .skyfall-icon {
  flex: 0 0 25px;
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-header .cost,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-header .cost {
  flex: 0 0 50px;
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-description,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-description {
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-descriptors,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-descriptors {
  padding: 5px;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-descriptors label.descriptor,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-descriptors label.descriptor {
  border: 1px solid gray;
  color: white;
  line-height: 2em;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-properties,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-properties {
  background-color: #babecd;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .rich label + *,
.skyfall.sheet.actor.character .window-content .actor-spells .rich label + * {
  display: inline;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .rich *,
.skyfall.sheet.actor.character .window-content .actor-spells .rich * {
  margin: 0;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .item.entry,
.skyfall.sheet.actor.character .window-content .actor-spells .item.entry {
  max-width: 50%;
  min-width: 45%;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-card,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-card {
  padding: 0;
  flex: 0 0 49%;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-card .ability-header *,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-card .ability-header * {
  color: white !important;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-card.collapsed > div:not(:first-child),
.skyfall.sheet.actor.character .window-content .actor-spells .ability-card.collapsed > div:not(:first-child) {
  display: none;
}
.skyfall.sheet.actor.character .window-content .actor-abilities .ability-card .space,
.skyfall.sheet.actor.character .window-content .actor-spells .ability-card .space {
  display: none;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol *,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol *,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul *,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul * {
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li .item-name,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li .item-name,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li .item-name,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li .item-name,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li .item-name *,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li .item-name *,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li .item-name *,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li .item-name * {
  text-align: left;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li.header,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li.header,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li.header,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li.header {
  background-color: #182657;
  padding: 5px;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li.header *,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li.header *,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li.header *,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li.header * {
  color: white !important;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li.entry,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li.entry,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li.entry,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li.entry {
  background-color: #babecd;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li.entry img,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li.entry img,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li.entry img,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li.entry img {
  margin-right: 5px;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol li.entry.draggable,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol li.entry.draggable,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul li.entry.draggable,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul li.entry.draggable {
  cursor: default;
}
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ol .item-controls,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ol .item-controls,
.skyfall.sheet.actor.character .window-content .actor-effects .modification-effects ul .item-controls,
.skyfall.sheet.actor.character .window-content .actor-effects .base-effects ul .item-controls {
  flex: 0 0 80px;
}
.skyfall.sheet.actor.character .window-content .actor-effects .status-effects .status-list {
  column-count: 3;
}
.skyfall.sheet.actor.character .window-content .actor-effects .status-effects .status-list .item {
  background-color: #182657;
  padding: 4px 8px 6px 8px;
}
.skyfall.sheet.actor.character .window-content .actor-effects .status-effects .status-list .item * {
  color: white;
}
.skyfall.sheet.actor.character .window-content .actor-effects .status-effects .status-list .item img {
  vertical-align: sub;
  width: 20px;
  flex: 0 0 20px;
  border: none;
  margin-right: 5px;
}
.skyfall.sheet.actor.character .window-content .actor-effects .status-effects .status-list .item:first-child {
  margin-top: 0px;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-header {
  width: 100%;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-header .capacity input[type=number],
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-header .fragments input[type=number] {
  padding: 0 5px;
  max-width: 50px;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list {
  width: 100%;
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol *,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul * {
  text-align: center;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li .item-name,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li .item-name,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li .item-name *,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li .item-name * {
  text-align: left;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li.header,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li.header {
  background-color: #182657;
  padding: 5px;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li.header *,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li.header * {
  color: white !important;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li.entry,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li.entry {
  background-color: #babecd;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li.entry img,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li.entry img {
  margin-right: 5px;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol li.entry.draggable,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul li.entry.draggable {
  cursor: default;
}
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ol .item-controls,
.skyfall.sheet.actor.character .window-content .actor-inventory .inventory-list ul .item-controls {
  flex: 0 0 80px;
}
.skyfall.sheet.actor.npc {
  --actor-color: #750703;
  --actor-color-faint: #75070322;
  --scroll-margin: 0px;
}
.skyfall.sheet.actor.npc * {
  scrollbar-color: #750703 transparent !important;
}
.skyfall.sheet.actor.npc .window-content {
  padding: 0;
}
.skyfall.sheet.actor.npc .window-content .scrollable {
  margin-right: 0px;
}
.skyfall.sheet.actor.npc .window-content nav.tabs .toggle-mode {
  padding: 0 10px;
}
.skyfall.sheet.actor.npc .window-content .item-controls {
  float: right;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock {
  font-size: 16px;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock * {
  color: #750703;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock input,
.skyfall.sheet.actor.npc .window-content .npc-statblock select {
  background-color: black;
  color: white;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock > div.teste {
  padding: 10px;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .header {
  align-items: flex-start;
  padding: 10px;
  background-color: #750703;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .header * {
  color: white;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .ability-scores .ability > div {
  background-color: #75070322;
  padding: 5px;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .ability-scores .ability .label {
  background-color: #750703;
  font-weight: bold;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .ability-scores .ability .label * {
  color: white;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ol,
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ul {
  padding: 10px;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ol .ability:nth-child(n+2),
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ul .ability:nth-child(n+2) {
  border-top: 1px solid var(--actor-color);
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ol *,
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ul * {
  font-size: 18px;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ol label,
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ul label {
  font-weight: bold;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ol .ability-properties :not(:first-child),
.skyfall.sheet.actor.npc .window-content .npc-statblock .abilities ul .ability-properties :not(:first-child) {
  border-left: 3px solid #750703;
  padding-left: 3px;
}
.skyfall.sheet.actor.npc .window-content .npc-statblock .irv.skills {
  padding: 0 0 0 10px;
  line-height: 24px;
}
.skyfall.sheet.actor.npc .window-content .actor-effects {
  padding: 0 10px;
}
.skyfall.sheet.actor.npc .window-content .actor-effects .status-list {
  column-count: 3;
}
.skyfall.sheet.actor.npc .window-content .actor-effects .status-list .item {
  background-color: #182657;
  padding: 4px 8px 6px 8px;
}
.skyfall.sheet.actor.npc .window-content .actor-effects .status-list .item * {
  color: white;
}
.skyfall.sheet.actor.npc .window-content .actor-effects .status-list .item img {
  vertical-align: sub;
  width: 20px;
  flex: 0 0 20px;
  border: none;
  margin-right: 5px;
}
.skyfall.sheet.actor.npc .window-content .actor-effects .status-list .item:first-child {
  margin-top: 0px;
}
.skyfall.sheet.actor.npc .window-content .actor-effects .status-effects .status-list {
  columns: 2;
}
.skyfall.sheet.actor aside.sheet-header {
  background-color: #182657;
  background-opacity: 0.5;
  position: absolute;
  float: left;
  left: 0;
  width: 180px;
  margin-right: 10px;
  height: 100%;
}
.skyfall.sheet.actor aside.sheet-header button i {
  margin: 0;
}
.skyfall.sheet.actor aside.sheet-header button,
.skyfall.sheet.actor aside.sheet-header input,
.skyfall.sheet.actor aside.sheet-header * {
  color: white;
}
.skyfall.sheet.actor aside.sheet-header > * {
  align-content: flex-start;
  width: 100%;
}
.skyfall.sheet.actor aside.sheet-header > div {
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.skyfall.sheet.actor aside.sheet-header > div h1,
.skyfall.sheet.actor aside.sheet-header > div h2,
.skyfall.sheet.actor aside.sheet-header > div h3,
.skyfall.sheet.actor aside.sheet-header > div h4,
.skyfall.sheet.actor aside.sheet-header > div h5,
.skyfall.sheet.actor aside.sheet-header > div h6 {
  line-height: 150%;
  margin: auto;
}
.skyfall.sheet.actor aside.sheet-header .actor-actions {
  line-height: 2em;
}
.skyfall.sheet.actor aside.sheet-header .actor-actions button {
  font-size: 10px;
  padding: 2px;
  line-height: 1;
  flex: 0 0 25px;
  width: 25px;
  height: 25px;
}
.skyfall.sheet.actor aside.sheet-header .actor-actions > * {
  flex: 0;
  font-size: 14px;
}
.skyfall.sheet.actor aside.sheet-header .actor-actions .hitDie {
  flex-wrap: nowrap;
  max-width: 60px;
  flex: 1;
  justify-content: center;
}
.skyfall.sheet.actor aside.sheet-header .actor-actions .hitDie .die {
  flex: 0 0 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.skyfall.sheet.actor aside.sheet-header .resource {
  flex: 0;
}
.skyfall.sheet.actor aside.sheet-header .resource.hp .bar {
  background-color: red;
}
.skyfall.sheet.actor aside.sheet-header .resource.hp .bar.temp {
  background-color: orange;
}
.skyfall.sheet.actor aside.sheet-header .resource.hp .bar.negative {
  background-color: crimson;
}
.skyfall.sheet.actor aside.sheet-header .resource.ep .bar {
  background-color: blueviolet;
}
.skyfall.sheet.actor aside.sheet-header .resource.ep .bar.temp {
  background-color: cyan;
}
.skyfall.sheet.actor aside.sheet-header .resource .container {
  position: relative;
  flex: 0 0 100%;
  height: 28px;
  background-color: black;
}
.skyfall.sheet.actor aside.sheet-header .resource .container .bar {
  position: absolute;
  height: 20px;
  margin: 4px 0;
  max-width: 100%;
}
.skyfall.sheet.actor aside.sheet-header .resource .container .bar.temp {
  opacity: 50%;
}
.skyfall.sheet.actor aside.sheet-header .resource .container .bar.negative {
  float: right;
}
.skyfall.sheet.actor aside.sheet-header .resource .container .fields {
  position: absolute;
  height: 100%;
}
.skyfall.sheet.actor aside.sheet-header .resource .container .fields input {
  background: none;
  border: none;
}
.skyfall.sheet.actor aside.sheet-header .resource .form-fields {
  flex: 100%;
}
.skyfall.sheet.actor aside.sheet-header .shadow,
.skyfall.sheet.actor aside.sheet-header .death {
  text-align: center;
}
.skyfall.sheet.actor aside.sheet-header .shadow h3,
.skyfall.sheet.actor aside.sheet-header .death h3 {
  height: 43px;
  flex: 0 0 43px;
  flex: 0;
}
.skyfall.sheet.actor.character2 nav.tabs {
  position: relative;
  float: right;
  width: 100%;
}
.skyfall.sheet.actor.character2 nav.tabs i {
  display: none;
}
.skyfall.sheet.actor.character2 div.tab {
  height: 100%;
}
.skyfall.sheet.actor section.sheet-body {
  height: -webkit-fill-available;
  overflow: scroll;
}
.skyfall.sheet.actor label,
.skyfall.sheet.actor input[type=text] {
  font-size: 14px;
}
.skyfall.sheet.actor .actions .skills {
  flex: 0 0 230px;
  margin-right: 5px;
}
.skyfall.sheet.actor .actions .list-items.actions li {
  align-items: flex-start;
}
.skyfall.sheet.actor .actions .list-items.actions li.ability.weapon .item-controls {
  width: 100%;
  text-align: right;
  align-self: flex-end;
  justify-content: flex-end;
}
.skyfall.sheet.actor .actions .list-items.actions li.ability.weapon .item-controls a {
  flex: 0;
  padding: 0 5px;
}
.skyfall.sheet.actor .actions .list-items.actions .item-controls {
  text-align: left;
}
.skyfall.sheet.actor .features .character-progression {
  width: 160px;
  flex: 0 0 200px;
  margin-right: 5px;
}
.skyfall.sheet.actor .features .character-progression input {
  width: 100%;
  margin: 0;
}
.skyfall.sheet.actor .features .character-progression .class input.level {
  width: 15%;
  text-align: center;
  float: left;
}
.skyfall.sheet.actor .features .character-progression .class input {
  width: 85%;
}
.skyfall.sheet.actor .header-fields label {
  display: block;
}
.skyfall.sheet.actor .header-fields label .item-controls {
  float: right;
  margin-right: 5px;
}
.skyfall.sheet.actor .header-fields input {
  width: auto;
  margin-right: 5px;
}
.skyfall.sheet.actor .proficiency {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.skyfall.sheet.actor .proficiency > * {
  background-color: white;
}
.skyfall.sheet.actor .proficiency input {
  text-align: center;
  border: 2px solid #424f66;
  border-radius: 0;
  flex: 0 0 2em;
}
.skyfall.sheet.actor .proficiency span {
  font-family: NORTHWEST;
  font-size: 12px;
  border: 2px solid #424f66;
  border-left: none;
  line-height: 1em;
  padding: 1px 5px;
}
.skyfall.sheet.actor .resources > div {
  margin-bottom: 5px;
  width: 245px;
  height: 87px;
  min-height: 87px;
  max-height: 87px;
}
.skyfall.sheet.actor .resources .group-a {
  justify-content: space-between;
}
.skyfall.sheet.actor .resources .catharsis,
.skyfall.sheet.actor .resources .ep {
  flex: 0 0 48%;
  height: 65px;
}
.skyfall.sheet.actor .resources .catharsis input,
.skyfall.sheet.actor .resources .ep input {
  max-width: 50px;
  margin: 5px auto;
}
.skyfall.sheet.actor .resources .hp {
  background: url(assets/sheet/resource-a.webp) no-repeat;
}
.skyfall.sheet.actor .resources .hitDie {
  background: url(assets/sheet/resource-b.webp) no-repeat;
}
.skyfall.sheet.actor .resources .hp,
.skyfall.sheet.actor .resources .hitDie {
  background-size: contain;
  flex: 0 0 5em;
}
.skyfall.sheet.actor .resources .hp h6,
.skyfall.sheet.actor .resources .hitDie h6 {
  width: 50px;
  margin: auto;
}
.skyfall.sheet.actor .resources .hp input,
.skyfall.sheet.actor .resources .hitDie input {
  flex: 0;
  width: 50px;
  margin: 0.7em auto;
}
.skyfall.sheet.actor .resources .hp .temp,
.skyfall.sheet.actor .resources .hitDie .temp,
.skyfall.sheet.actor .resources .hp .die,
.skyfall.sheet.actor .resources .hitDie .die {
  height: 70px;
  align-self: center;
  position: relative;
}
.skyfall.sheet.actor .resources .hp .temp input,
.skyfall.sheet.actor .resources .hitDie .temp input,
.skyfall.sheet.actor .resources .hp .die input,
.skyfall.sheet.actor .resources .hitDie .die input {
  margin: 0 auto;
  flex: 0;
  border: 0;
  border-radius: 50px;
  flex: 0 0 56px;
  width: 56px;
}
.skyfall.sheet.actor .resources .hp .temp h6,
.skyfall.sheet.actor .resources .hitDie .temp h6 {
  position: absolute;
  bottom: 2em;
  margin: 0 auto;
  width: 100%;
}
.skyfall.sheet.actor .resources .hp .die,
.skyfall.sheet.actor .resources .hitDie .die {
  flex-direction: column-reverse;
}
.skyfall.sheet.actor .resources .hp .die h6,
.skyfall.sheet.actor .resources .hitDie .die h6 {
  position: absolute;
  top: 1.5em;
  margin: 0 auto;
  width: 100%;
}
.skyfall.sheet.actor .resources-check .shadow a {
  width: 60px;
  margin: auto;
}
.skyfall.sheet.actor .list-items img {
  width: 36px;
  flex: 0 0 36px;
}
.skyfall.sheet.actor .list-items.skills {
  width: 95%;
  margin: 0.5em auto;
  padding: 5px;
  background-color: white;
  border: 2px solid #424f66;
}
.skyfall.sheet.actor .list-items.skills .skill > a,
.skyfall.sheet.actor .list-items.skills .skill > span {
  text-align: center;
  flex: 0 0 2em;
}
.skyfall.sheet.actor .list-items.skills .skill > h3 {
  margin: 0;
}
.skyfall.sheet.actor .list-items.skills .skill input {
  text-align: center;
  border: 2px solid #424f66;
  background-color: white;
}
.skyfall.sheet.actor .list-items.skills .skill .rolling {
  color: red;
}
.skyfall.sheet.actor .list-items.abilities,
.skyfall.sheet.actor .list-items.spells {
  text-align: left;
  margin: 5px;
  padding: 5px;
  gap: 10px;
}
.skyfall.sheet.actor .list-items.abilities div,
.skyfall.sheet.actor .list-items.spells div {
  padding: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 14px;
  width: 100%;
  background-color: #e7e8ed;
}
.skyfall.sheet.actor .list-items.abilities div label,
.skyfall.sheet.actor .list-items.spells div label {
  font-weight: bold;
  color: #182657;
}
.skyfall.sheet.actor .list-items.abilities > figure.content-embed,
.skyfall.sheet.actor .list-items.spells > figure.content-embed {
  margin: 0;
}
.skyfall.sheet.actor .list-items.abilities .ability-header,
.skyfall.sheet.actor .list-items.spells .ability-header {
  background-color: #182657;
  color: white;
  font-family: NORTHWEST;
  align-items: center;
}
.skyfall.sheet.actor .list-items.abilities .ability-header *,
.skyfall.sheet.actor .list-items.spells .ability-header * {
  color: white;
}
.skyfall.sheet.actor .list-items.abilities .ability-header .skyfall-icon,
.skyfall.sheet.actor .list-items.spells .ability-header .skyfall-icon {
  flex: 0 0 25px;
  text-align: center;
}
.skyfall.sheet.actor .list-items.abilities .ability-header .cost,
.skyfall.sheet.actor .list-items.spells .ability-header .cost {
  flex: 0 0 50px;
  text-align: center;
}
.skyfall.sheet.actor .list-items.abilities .ability-description,
.skyfall.sheet.actor .list-items.spells .ability-description {
  text-align: center;
}
.skyfall.sheet.actor .list-items.abilities .ability-descriptors,
.skyfall.sheet.actor .list-items.spells .ability-descriptors {
  padding: 5px;
}
.skyfall.sheet.actor .list-items.abilities .ability-descriptors label.descriptor,
.skyfall.sheet.actor .list-items.spells .ability-descriptors label.descriptor {
  border: 1px solid gray;
  color: white;
  line-height: 2em;
}
.skyfall.sheet.actor .list-items.abilities .ability-properties,
.skyfall.sheet.actor .list-items.spells .ability-properties {
  background-color: #babecd;
}
.skyfall.sheet.actor .list-items.abilities .rich label + *,
.skyfall.sheet.actor .list-items.spells .rich label + * {
  display: inline;
}
.skyfall.sheet.actor .list-items.abilities .rich *,
.skyfall.sheet.actor .list-items.spells .rich * {
  margin: 0;
}
.skyfall.sheet.actor .list-items.abilities .item.entry,
.skyfall.sheet.actor .list-items.spells .item.entry {
  max-width: 50%;
  min-width: 45%;
}
.skyfall.sheet.actor .middle {
  flex: 0 0 265px;
}
.skyfall.sheet.actor .background-box {
  background-image: url(assets/sheet/background-cut.png);
  background-size: cover;
  padding: 10px;
}
.skyfall.sheet.actor .background-box.attributes {
  flex: 0 0 25%;
  justify-content: space-around;
}
.skyfall.sheet.actor .background-box.attributes .attribute.box {
  align-self: auto;
  margin-bottom: 5px;
}
.skyfall.sheet.actor .background-box.attributes .attribute.box h5 {
  align-content: center;
}
.skyfall.sheet.actor .background-box.attributes .attribute.box input,
.skyfall.sheet.actor .background-box.attributes .attribute.box span {
  flex: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  line-height: 1em;
}
.skyfall.sheet.actor .background-box .box {
  background-color: white;
  border: 2px solid #424f66;
}
/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */
.skyfall.sheet aside {
  align-self: flex-start;
}
.skyfall.sheet .window-content :has(> .ability) {
  overflow-y: hidden;
}
.skyfall.sheet .window-content .ability {
  flex-wrap: nowrap;
  max-height: 600px;
}
.skyfall.sheet .window-content .ability .sheet-editable {
  overflow-y: scroll;
  min-width: 300px;
}
.skyfall.sheet .window-content .ability .sheet-card {
  width: 420px;
  flex: 0 0 420px;
}
.skyfall.sheet .window-content .ability .sheet-card div {
  padding: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 14px;
  width: 100%;
  background-color: #e7e8ed;
}
.skyfall.sheet .window-content .ability .sheet-card div label {
  font-weight: bold;
  color: #182657;
}
.skyfall.sheet .window-content .ability .sheet-card > figure.content-embed {
  margin: 0;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-header {
  background-color: #182657;
  color: white;
  font-family: NORTHWEST;
  align-items: center;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-header * {
  color: white;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-header .skyfall-icon {
  flex: 0 0 25px;
  text-align: center;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-header .cost {
  flex: 0 0 50px;
  text-align: center;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-description {
  text-align: center;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-descriptors {
  padding: 5px;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-descriptors label.descriptor {
  border: 1px solid gray;
  color: white;
  line-height: 2em;
}
.skyfall.sheet .window-content .ability .sheet-card .ability-properties {
  background-color: #babecd;
}
.skyfall.sheet .window-content .ability .sheet-card .rich label + * {
  display: inline;
}
.skyfall.sheet .window-content .ability .sheet-card .rich * {
  margin: 0;
}
.skyfall.sheet .window-content .ability .sheet-card > div {
  width: 95%;
}
.skyfall.sheet .window-content .ability .sheet-card .sheet-card hr {
  display: none;
}
.skyfall.sheet .window-content .ability .sheet-card hr,
.skyfall.sheet .window-content .ability .section-edit hr {
  flex: 0;
}
.skyfall.sheet .window-content .item .item-icon {
  background-size: cover;
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
}
.skyfall.sheet .window-content .heritage-tabs {
  flex: 0 0 100px;
}
.skyfall.sheet .window-content .heritage-list,
.skyfall.sheet .window-content .heritage {
  min-height: 200px;
}
.skyfall.sheet .window-content .heritage-list {
  flex: 0 0 100px;
  margin-right: 10px;
}
.skyfall.sheet .window-content .heritage-list .active {
  text-shadow: 0 0 8px var(--color-shadow-primary);
}
.skyfall.sheet .window-content .heritage-list .chosen {
  font-weight: bold;
}
.skyfall.sheet.application.item {
  overflow: visible;
}
.skyfall.sheet.application.item .window-content {
  overflow: visible;
  padding: 10px;
}
.skyfall.sheet.application.item .window-content nav.tabs {
  gap: 5px;
}
.skyfall.sheet.ability .window-content {
  padding: 0;
  position: relative;
  flex-direction: row;
  max-width: 850px;
}
.skyfall.sheet.ability .window-content .ability-card {
  color: #182657;
  max-width: 400px;
}
.skyfall.sheet.ability .window-content .ability-card div {
  padding: 5px;
  border: 1px solid black;
  position: relative;
  font-size: 14px;
  width: 100%;
  background-color: #e7e8ed;
}
.skyfall.sheet.ability .window-content .ability-card div label {
  font-weight: bold;
  color: #182657;
}
.skyfall.sheet.ability .window-content .ability-card > figure.content-embed {
  margin: 0;
}
.skyfall.sheet.ability .window-content .ability-card .ability-header {
  background-color: #182657;
  color: white;
  font-family: NORTHWEST;
  align-items: center;
}
.skyfall.sheet.ability .window-content .ability-card .ability-header * {
  color: white;
}
.skyfall.sheet.ability .window-content .ability-card .ability-header .skyfall-icon {
  flex: 0 0 25px;
  text-align: center;
}
.skyfall.sheet.ability .window-content .ability-card .ability-header .cost {
  flex: 0 0 50px;
  text-align: center;
}
.skyfall.sheet.ability .window-content .ability-card .ability-description {
  text-align: center;
}
.skyfall.sheet.ability .window-content .ability-card .ability-descriptors {
  padding: 5px;
}
.skyfall.sheet.ability .window-content .ability-card .ability-descriptors label.descriptor {
  border: 1px solid gray;
  color: white;
  line-height: 2em;
}
.skyfall.sheet.ability .window-content .ability-card .ability-properties {
  background-color: #babecd;
}
.skyfall.sheet.ability .window-content .ability-card .rich label + * {
  display: inline;
}
.skyfall.sheet.ability .window-content .ability-card .rich * {
  margin: 0;
}
.skyfall.sheet.ability .window-content .ability-configuration {
  color: black;
  min-width: 420px;
  width: 420px;
  max-width: 420px;
}
.skyfall.sheet.ability .window-content .ability-configuration section.tab,
.skyfall.sheet.ability .window-content .ability-configuration div.tab {
  flex: 0 0 550px;
}
.skyfall.sheet.ability .window-content .ability-configuration .ability-config.scrollable {
  --scroll-margin: 0;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.skyfall.sheet.ability .window-content .ability-configuration .ability-config.scrollable textarea {
  padding: 5px;
  min-height: 30px;
}
/* ----------------------------------------- */
/*  Effects Styles                             */
/* ----------------------------------------- */
.skyfall.sheet.modification {
  max-height: 700px;
}
.skyfall.sheet.modification .sheet-body {
  max-width: 500px;
}
.skyfall.sheet.modification .details {
  min-height: 500px;
}
/* ----------------------------------------- */
/*  ChatMessage Styles                       */
/* ----------------------------------------- */
.chat-message:has( .skyfall ) {
  background: url(assets/sheet/background.webp) repeat white;
}
.chat-message:has( .usage-card ) {
  position: relative;
}
.chat-message:has( .usage-card ) .header-overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(assets/sheet/bg-top-right.svg) no-repeat;
  background-size: 140%;
  background-position: 30% -75px;
}
.chat-message:has( .usage-card ) .message-header {
  color: white;
  z-index: 2;
}
.skyfall.usage-card {
  position: relative;
  color: #182657;
}
.skyfall.usage-card .card-header {
  font-family: NORTHWEST;
  color: white;
  position: relative;
  width: 85%;
  min-height: 45px;
  height: 45px;
  max-height: 50px;
  float: left;
  top: -10px;
  align-items: center;
  align-content: center;
}
.skyfall.usage-card .card-header .icon {
  flex: 0;
}
.skyfall.usage-card .card-header h1,
.skyfall.usage-card .card-header h2,
.skyfall.usage-card .card-header h3,
.skyfall.usage-card .card-header h4,
.skyfall.usage-card .card-header h5,
.skyfall.usage-card .card-header h6 {
  margin: 0;
}
.skyfall.usage-card .card-header .item-name {
  margin-left: 10px;
  line-height: 1em;
  font-size: 20px;
}
.skyfall.usage-card .card-header .fonts22 {
  font-size: 22px;
}
.skyfall.usage-card .card-header .fonts20 {
  font-size: 20px;
}
.skyfall.usage-card .card-header .fonts18 {
  font-size: 18px;
}
.skyfall.usage-card .card-header .fonts16 {
  font-size: 16px;
}
.skyfall.usage-card .card-header .fonts14 {
  font-size: 14px;
}
.skyfall.usage-card .card-header .fonts12 {
  font-size: 12px;
}
.skyfall.usage-card .card-aside {
  color: white;
  position: relative;
  width: 15%;
  float: right;
  align-items: center;
  min-height: 55px;
}
.skyfall.usage-card .ability-descriptors label.descriptor {
  font-size: 12px;
  padding: 2px;
  line-height: 23px;
}
.skyfall.usage-card .ability-properties p {
  margin: 0;
}
.skyfall.usage-card .ability-properties p label {
  font-weight: bold;
}
.skyfall.usage-card .rich label {
  font-weight: bold;
}
.skyfall.usage-card .rich label + * {
  display: inline;
}
.skyfall.usage-card .rich * {
  margin: 0;
}
.skyfall.usage-card .chat-actions {
  width: 100%;
}
.skyfall.usage-card .chat-actions .effect {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
}
.skyfall.usage-card .chat-actions .effect img {
  flex: 0 0 32px;
  background-color: black;
  margin-right: 1em;
}
.skyfall.usage-card .roll-entry {
  position: relative;
}
.skyfall.usage-card .roll-btns {
  position: absolute;
}
.skyfall.usage-card .roll-btns.top {
  top: 15px;
}
.skyfall.usage-card .roll-btns.bottom {
  bottom: 0px;
}
.skyfall.usage-card .roll-btns.left {
  float: left;
  left: 0px;
}
.skyfall.usage-card .roll-btns.right {
  float: right;
  right: 0px;
}
.skyfall.usage-card .roll-btns button {
  width: 28px;
  font-size: 14px;
  line-height: 22px;
}
/* ----------------------------------------- */
/*  Journal Styles                           */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Skyfall Styles                           */
/* ----------------------------------------- */
.dice-total {
  font-family: NORTHWEST;
}
.skyfall.sheet.character .window-content *,
.skyfall.sheet.npc .window-content *,
.skyfall.sheet .window-content * {
  color: black;
}
.skyfall.sheet.character .window-content input,
.skyfall.sheet.npc .window-content input,
.skyfall.sheet .window-content input,
.skyfall.sheet.character .window-content select,
.skyfall.sheet.npc .window-content select,
.skyfall.sheet .window-content select {
  background-color: rgba(0, 0, 0, 0.05);
}
.skyfall.sheet.character .window-content input.slim,
.skyfall.sheet.npc .window-content input.slim,
.skyfall.sheet .window-content input.slim {
  padding: 5px 0;
  text-align: center;
}
.skyfall.sheet.character .window-content h1,
.skyfall.sheet.npc .window-content h1,
.skyfall.sheet .window-content h1,
.skyfall.sheet.character .window-content h2,
.skyfall.sheet.npc .window-content h2,
.skyfall.sheet .window-content h2,
.skyfall.sheet.character .window-content h3,
.skyfall.sheet.npc .window-content h3,
.skyfall.sheet .window-content h3,
.skyfall.sheet.character .window-content h4,
.skyfall.sheet.npc .window-content h4,
.skyfall.sheet .window-content h4,
.skyfall.sheet.character .window-content h5,
.skyfall.sheet.npc .window-content h5,
.skyfall.sheet .window-content h5,
.skyfall.sheet.character .window-content h6,
.skyfall.sheet.npc .window-content h6,
.skyfall.sheet .window-content h6 {
  line-height: normal;
  text-shadow: none;
}
.skyfall.sheet.character .window-content prose-mirror .editor-menu,
.skyfall.sheet.npc .window-content prose-mirror .editor-menu,
.skyfall.sheet .window-content prose-mirror .editor-menu {
  background: #302831;
}
.skyfall.sheet.character .window-content prose-mirror .editor-menu *,
.skyfall.sheet.npc .window-content prose-mirror .editor-menu *,
.skyfall.sheet .window-content prose-mirror .editor-menu * {
  color: var(--color-light-3);
}
.skyfall.sheet.character .window-content prose-mirror .editor-menu :hover *,
.skyfall.sheet.npc .window-content prose-mirror .editor-menu :hover *,
.skyfall.sheet .window-content prose-mirror .editor-menu :hover * {
  color: black;
}
.skyfall.sheet.character .window-content prose-mirror .editor-menu *,
.skyfall.sheet.npc .window-content prose-mirror .editor-menu *,
.skyfall.sheet .window-content prose-mirror .editor-menu * {
  background: #302831;
}
.skyfall {
  --actor-color: #652657;
}
.skyfall > * {
  scrollbar-width: thin;
}
.skyfall h1 {
  font-size: 22px;
}
.skyfall h2 {
  font-size: 20px;
}
.skyfall h3 {
  font-size: 18px;
}
.skyfall h4 {
  font-size: 16px;
}
.skyfall h5 {
  font-size: 14px;
}
.skyfall h6 {
  font-size: 12px;
}
.skyfall h1,
.skyfall h2,
.skyfall h3,
.skyfall h4,
.skyfall h5,
.skyfall h6 {
  font-family: NORTHWEST;
  margin: 0;
  border-bottom: none;
}
.skyfall label.descriptor {
  padding: 4px;
  margin: 2px 2px;
  background-color: #182657;
  color: white;
  text-transform: uppercase;
  opacity: 0.6;
}
.skyfall label.descriptor.active {
  opacity: 1;
}
.skyfall label.descriptor input[type="checkbox"] {
  display: none;
}
.skyfall .text-center {
  text-align: center;
}
.skyfall.sheet .window-content {
  background: url(assets/sheet/background.webp) repeat white;
}
.skyfall .background {
  background-image: url(assets/sheet/background-cut.png);
  background-size: cover;
}
.skyfall .border-1 {
  border-image: url(assets/sheet/skyfall-border-1.png) 30 / 10px round;
  padding: 12px;
}
.skyfall .border {
  border-image: url(assets/sheet/border.svg) 1;
  border-image-repeat: stretch;
  border-image-outset: 0;
  border-image-slice: 10;
  border-image-width: 10px;
  padding: 10px;
}
.skyfall .list-items {
  list-style: none;
  padding: 0;
}
.skyfall .list-items li {
  align-items: center;
}
.skyfall .list-items .item-controls {
  text-align: center;
}
.skyfall .condition-reference {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.skyfall .descriptor-reference {
  font-weight: bold;
  background-color: var(--actor-color);
  padding: 1px 5px;
  text-transform: uppercase;
  color: white!important;
}
.skyfall .sf-icon {
  display: inline-flex;
  align-self: center;
}
.skyfall .sf-icon svg,
.skyfall .sf-icon svg image {
  width: 1em;
  height: 1em;
}
#logo .cls-1 {
  fill: #182657;
}
#players {
  width: 220px;
}
#players .give-catharsis {
  max-width: 25px;
  line-height: 1em;
  font-size: 12px;
  height: 20px;
  text-align: center;
  padding: 0;
}
#players .give-catharsis i {
  margin: 0;
}
#tooltip:has(.status-effect) {
  background-color: #652657;
  padding: 1em;
}
#tooltip section.status-effect {
  color: white;
  text-align: left;
  position: relative;
}
#tooltip section.status-effect h1,
#tooltip section.status-effect h2,
#tooltip section.status-effect h3,
#tooltip section.status-effect h4,
#tooltip section.status-effect h5,
#tooltip section.status-effect h6 {
  position: relative;
  border-bottom: none;
  background: url(assets/sheet/box-purple-title.png) no-repeat;
  line-height: 1.5em;
  left: -1em;
  padding-left: 1.5em;
  color: #652657;
}
#tooltip section.status-effect ol,
#tooltip section.status-effect ul {
  list-style: none;
  padding: 0;
}
/* BUG CORE */
.sheet.journal-entry .scrollable {
  position: relative;
}
.skyfall.sheet #context-menu {
  background-color: white;
}
.skyfall.sheet #context-menu li {
  line-height: 14px;
  font-size: 14px;
  color: black;
}
.skyfall.sheet #context-menu li:hover * {
  color: white;
}
.skyfall dropdown-tags.descriptors .tags-dropdown {
  background-color: white;
}
.skyfall dropdown-tags.descriptors .tag,
.skyfall dropdown-tags.descriptors .checkbox {
  padding: 0 4px;
  margin: 2px 2px;
  background-color: #182657;
  color: white;
  text-transform: uppercase;
}
.skyfall dropdown-tags.descriptors .tag *,
.skyfall dropdown-tags.descriptors .checkbox * {
  color: white;
}
.skyfall dropdown-tags.descriptors .checkbox {
  opacity: 0.6;
}
.skyfall dropdown-tags.descriptors .checkbox :has(input:checked) {
  opacity: 1;
}
.skyfall dropdown-tags.descriptors fieldset {
  border: none;
  padding: 5px;
}
.skyfall multi-select {
  flex-direction: column-reverse;
}
.inline-roll-request {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid var(--color-border-dark-tertiary);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
