<div class="{{cssClasses}}">
	<div class="tooltip-header flexrow">
		<img src="{{effect.img}}" width="36" height="36" class="flex0">
		<h5>&nbsp;&nbsp;{{effect.name}}</h5>
	</div>
	<div class="tooltip-body">
		{{effect.description}}
	</div>
</div>