{{log "tab" tab}}
<section class="ability-configuration flexcol">
	{{> "templates/generic/tab-navigation.hbs"}}
	{{> "systems/skyfall/templates/v2/item/ability-config.hbs" tab=tabs.config}}

	{{> "systems/skyfall/templates/v2/shared/effects.hbs" tab=tabs.effects}}
</section>