/* ----------------------------------------- */
/*  Application Styles                       */
/* ----------------------------------------- */
.skyfall {
	nav.tabs {
		.item {
			color: black;
		}
		.item.active {
			color: black;
			// text-shadow: 0 0 8px @colorSFPlayer;
		}
	}
}
.skyfall.sheet, .journal-sheet.sheet {
	.modification-header, .modification-description {
		padding: 5px;
		border: 1px solid black;
		position: relative;
		flex: 0;
		background-color: #e7e8ed;
		color: @colorSFPlayer;
	}
	.modification-header {
		font-weight: bold;
		background-color: @colorSFPlayerFaint;
	}
}
.skyfall {
	&.sheet {
		input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"], select {
			height: 22px;
			font-size: 14px;
		}
		.editor, .editor-content {
			min-height: 100px;
			min-height: 6em;
		}
		.editor.prosemirror {
			min-height: 150px;
		}

		.descriptors-field {
			.tags-options {
				display: none;
	
			}
			.tags-options + .chosen-tags {
				align-self: flex-end;
			}
		
			.tags-options:hover,
			.field-tag:focus + .tags-options {
				display: flex;
				background-color: white;
				z-index: 3;
				position: absolute;
				height: 200px;
				top: 2em;
				/*bottom: -210px*/;
				overflow-y: auto;
				right: 10px;
				width: 350px;
			}
		}

		.modification-effects, .base-effects {
			.list-items {
				.item, .items-header {
					.effect-name {
						flex: 2;
					}
				}
				.item {
					align-content: center;
					img {
						width: 36px;
						flex: 0 0 36px;
						margin-right: 5px;
					}
				}
			}
		}
	
		.status-effects {
			margin-bottom: 2em;
			.list-items {
				column-count: 3;
				.item {
					background-color: @colorSFPlayer;
					color: white;
					padding: 4px 8px 6px 8px;
					img {
						vertical-align: sub;
						width: 20px;
						flex: 0 0 20px;
						border: none;
						margin-right: 5px;
					}
					&:first-child {
						margin-top: 0px;
					}
					// font-size: 12px;
				}
			}
		}
		.filter-list {
			list-style: none;
			padding: 0;
			.li {
				cursor: pointer;
			}
			.active {
				text-shadow: 0 0 10px var(--color-shadow-primary);
			}
		}
	}
	
	&.item-usage-config {
		.header > * {
			label {
				align-content: center;
				margin-left: 5px;
			}
			img {
				flex: 0;
			}
		}

		.modifications {
			border: 1px dashed black;
			
			.modification {
				> * {
					padding: 5px;
					align-content: center;
				}
				.controls {
					flex-wrap: nowrap;
					input {
						// width: auto;
						flex: 1;
					};
					button {
						flex: 0;
						width: 16px;
						height: 26px;
						line-height: 26px;
						font-size: 10px;
						padding: 0 2px;
					}
				}
				.controls, .cost {
					text-align: center;
					flex: 0 0 70px;
				}
				.name {
					text-align: center;
					flex: 0 0 70px;
				}
				.description {

				}
			}
		}
	}
	&.rest-config {
		input, .entry > div {
			text-align: center;
		}
	}
	&.effects-menu {
		max-width: 50px!important;
		min-width: 50px!important;
		width: 50px!important;
		left: calc(100vw - 370px)!important;
		visibility: hidden;
		.window-header { display: none; }
		.window-content { padding: 5px; }
		.effect {
			visibility: visible;
			position: relative;
			cursor: pointer;
			border: 2px solid gray;
			border-radius: 25px;
			flex: 0 0 40px;
			width: 40px;
			height: 40px;
			background-size: cover;
			.stack {
				position: absolute;
				background-color: red;
				border-radius: 80px;
				right: -5px;
				width: 15px;
				font-size: 12px;
				text-align: center;
			}
		}
	}
}