/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */

.skyfall.sheet {
	aside {
		align-self: flex-start;
	}
	.window-content {
		:has(> .ability) {
			overflow-y: hidden;
		}
		
		.ability {
			flex-wrap: nowrap;
			max-height: 600px;

			.sheet-editable {
				overflow-y: scroll;
				min-width: 300px
			}
			
			.sheet-card {
				width: 420px;
				flex: 0 0 420px;
				.SF-ability;
				> div {
					width: 95%;
				}
				
				.sheet-card hr {
					display: none;
				}
			}
			

			.sheet-card hr, .section-edit hr {
				flex: 0;
			}
		}
		.legacy {
		}

		.item .item-icon {
			background-size: cover;
			flex: 0 0 36px;
			width: 36px;
			height: 36px;
		}

		.heritage-tabs {
			flex: 0 0 100px;
		}
	}
}