/* ----------------------------------------- */
/*  Item Styles                              */
/* ----------------------------------------- */

.skyfall.sheet {
	aside {
		align-self: flex-start;
	}
	.window-content {
		:has(> .ability) {
			overflow-y: hidden;
		}
		
		.ability {
			flex-wrap: nowrap;
			max-height: 600px;

			.sheet-editable {
				overflow-y: scroll;
				min-width: 300px
			}
			
			.sheet-card {
				width: 420px;
				flex: 0 0 420px;
				.SF-ability;
				> div {
					width: 95%;
				}
				
				.sheet-card hr {
					display: none;
				}
			}
			

			.sheet-card hr, .section-edit hr {
				flex: 0;
			}
		}
		.legacy {
		}

		.item .item-icon {
			background-size: cover;
			flex: 0 0 36px;
			width: 36px;
			height: 36px;
		}

		.heritage-tabs {
			flex: 0 0 100px;
		}
		.heritage-list, .heritage {
			min-height: 200px;
		}
		.heritage-list {
			flex: 0 0 100px;
			margin-right: 10px;
			.active {
				text-shadow: 0 0 8px var(--color-shadow-primary)
			}
			.chosen {
				font-weight: bold;
			}
		}
	}
}
.skyfall.sheet.application.item {
	overflow: visible;
	.window-content{
		overflow: visible;
		padding: 10px;
		nav.tabs {
			gap: 5px;
		}
		.sigils {
			gap: 10px;
		}
	}
}
.skyfall.sheet.ability {
	.window-content {
		padding: 0;
		position: relative;
		flex-direction: row;
		// max-height: 600px;
		max-width: 850px;
		
		.ability-card {
			color: @colorSFPlayer;
			max-width: 400px;
			.SF-ability;
			
		}
		.ability-configuration {
			color: black;
			min-width: 420px;
			width: 420px;
			max-width: 420px;
			// input, select { color: white;}

			section.tab, div.tab {
				flex: 0 0 550px;
			}
			.ability-config.scrollable {
				--scroll-margin: 0;
				margin-right: 0 !important;
				padding-right: 0 !important;
				textarea {
					padding: 5px;
					min-height: 30px;
				}
			}
		}

	}
}