
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */

// @font-face {
//   font-family: "Skyfall Icons";
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/skyfall-icons.ttf') format('ttf');
// }


.skyfall-icon {
  font-family: SkyfallIcons;
}

.skyfall-font {
  font-family: Skyfall;
}

/* ----------------------------------------- */
/*  Fonts Height                             */
/* ----------------------------------------- */

@fontHead: 24px;
@fontRead: 18px;
@fontFoot: 12px;

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
// #182657 #babecd - Azul
// #750703 - Vermelho
// #d1becd #652657  - Vinho
// #424f66 #c9d1db - Azul/Cinza
@colorSFPlayer: #182657;
@colorSFPlayerFaint: #babecd;
@colorSFFoe: #750703;
@colorSFFoeFaint: #babecd;
@colorSFOther: #652657;
@colorSFOtherFaint: #d1becd;
@colorSFGray: #424f66;
@colorSFGrayFaint: #c9d1db;


@colorBeige: #b5b3a4;
@colorTan: #7a7971;
@colorOlive: #4b4a44;
// @colorCrimson: #44191A;
@colorCrimson: #7b3324;
@colorRuby: #b52d34;
@colorYellow: #f6d57b;
// @borderGroove: 2px groove #0b0b08;
@borderGroove: 2px groove #eeede0;
@sheetBackground: url("assets/parchment.jpg") repeat;


/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */

.flexrow {
  &.space-around { justify-content: space-around; }
  &.space-evenly { justify-content: space-evenly; }
  &.space-between { justify-content: space-between; }
  &.flex-start { align-self: flex-start; }
  .flex0 {
    display: flex;
  }
  .flex100{
    flex: 0 0 100%;
  }
}
.flexcol{
  &.flex-start { align-self: flex-start; }
  .flex0 {
    display: flex;
  }
  .flex100{
    flex: 0 0 100%;
  }
}
//   .flex4 { flex: 4; }
//   // .flexF { flex: 100%; }

//   .flex-center { justify-content: center; }
// }

// .flexcol {
//   align-self: flex-start;

//   .flex4 { flex: 4; }
//   // .flexF { flex: 100%; }

//   .flex-center { justify-content: center; }
// }